.nav{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    gap: 20px;
}
.nav:hover{
    box-shadow: 0px 0px 20px black;
    cursor: pointer;
}
.nav-holder{
    display: flex;
    width: 25%;
    text-align: center;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
}
.nav-holder:hover{
    background-color:#004588;
    color: white;
    cursor: pointer;
}
span, p{
    margin:0;
    gap: 10px;
}
.nav-value{
    padding-right: 10px;
}