body{
    background-color: rgb(92, 100, 96);
}
.Box{
    background-color: beige;
    width: 100px;
    height: 50px;
}
.box1{
    background-color: lightblue;
}
.box2{
    background-color: lightgreen;
}
.box3{
    background-color: lightcoral;
}
.box4{
    background-color: lightgreen;
}
.box5{
    background-color: rgb(199, 33, 33);
    width:200px;
}
.box6{
    background-color: blueviolet;
}
.box7{
    background-color: coral;
    width: 200px;
}
.box8{
    background-color: burlywood;
    width: 100px;
    height: 50px;
}
.container3{
    display: flex;
}
.container {
    display: flex;
}